.heading{
    font-size: 23px;
    width: 100%;
}

.heading_div{
    float:none;
    background:white;
    padding:10px;
    border-radius: 20px;
    color:black;
}

.heading_div2{
    font-size: 18px;
}

.result_para_tag{
    box-shadow: 5px 5px 5px whitesmoke;
    font-size: 20px;
    margin-bottom:-10px;
    
}

.copywrite_footer{
    margin-top: 500px;
    position:fixed;
    color:white;
    width:100%;
    bottom:0;
    background-color: greenyellow;
    line-height:3;
    text-align:center;
}

canvas{
border:5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px whitesmoke;
margin-top: 135px;
}

.result_para_tag:hover{
    background-color:cyan;
}